* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #fff;
}

html {
  background-color: var(--color-black);
  color: var(--color-white);
}

.dark-theme {
  background: var(--color-black);
  color: var(--color-white);
}

.light-theme {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Header Nav */
.header {
  margin: 0.75rem 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a > span {
  margin: 0 5px;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--color-white);
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 80px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .links span {
    padding: 0 2rem;
  }
}

/* End of Header Nav */

/* Home */
.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

@media screen and (min-width: 568px) {
  .posterImage__title {
    font-size: 4rem;
  }
}
.posterImage__rating {
  margin-left: 3rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
}

.posterImage__runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 568px) {
  .posterImage__description {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Movie List  */

.movies {
  width: 90vw;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.movie {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  transform: all 5s linear;
}
.movie img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(0);
  /* transition: var(--transition); */
}
.movie-info h4 {
  color: var(--color-white);
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}
.movie-info p {
  margin-bottom: 0;
  color: var(--color-white);
  font-size: 1rem;
}
.movie:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 576px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

/* .loading {
  display: grid;
  place-items: center;
  font-size: 2rem;
  margin: 6rem auto;
}

.loadings {
  min-height: 60vh;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  padding-top: 0.5rem;
  z-index: 999;
} */

.loading {
  height: 5rem;
  width: 5rem;
  border: 5px solid pink;
  border-radius: 50%;
  border-top-color: red;
  animation: spinner 3s linear infinite;
  margin: 10rem auto;
  display: grid;
  place-items: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.heading {
  text-align: center;
  font-size: 2rem;
}

/* Single Movie */
.single-movie {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-movie__intro {
  width: 80%;
}

.single-movie__backdrop {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.single-movie__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
}

.single-movie__detailLeft {
  margin-right: 30px;
}

.single-movie__poster {
  display: none;
}

.single-movie__detailRight {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.single-movie__detailRightTop > div {
  text-shadow: 0px 0px 5px var(--color-black);
  margin-bottom: 0.5rem;
}

.single-movie__name {
  font-weight: 600;
  font-size: 3rem;
}

.single-movie__genres {
  margin: 1.25rem 0;
}

.single-movie__genre {
  padding: 0.5rem;
  border: 2px solid var(--color-white);
  border-radius: 20px;
  margin-right: 1rem;
}

.single-movie__detailRightBottom {
  margin: 0.5rem 0;
  flex: 0.8;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}

.single-synopsisText h1 {
  font-size: 2rem;
}

.description p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

/* End Single Movie */

@media screen and (min-width: 775px) {
  .heading {
    margin: 2rem 4rem;
    text-align: left;
    font-size: 3rem;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.next-btn,
.btn {
  background: var(--color-white);
  border-color: transparent;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 1.5rem;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  background: var(--color-white);
  color: var(--color-black);
}

@media screen and (min-width: 775px) {
  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }

  .single-movie__poster {
    display: block;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
  }

  .single-movie__backdrop {
    object-position: 0 35%;
  }

  .single-synopsisText h1 {
    font-size: 2.5rem;
  }

  .description p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
